---
# This file is optional but helps us ensure the same
# code style is used across all SKSE plugin templates.
#
# You can find out more about these configuration files at:
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
# To use this file, configure your IDE to use "clang-format".
# This will be different for each IDE.
#
# You can download "clang-format" by installing LLVM from here:
# https://github.com/llvm/llvm-project/releases
#
# ^ look for the latest release which has a win64.exe installer
#   and be sure to choose the option to add LLVM to your PATH
#   when installing
#
# UseTab: Never

# We'll use defaults from the LLVM style, but with 4 columns indentation.
#BasedOnStyle: LLVM

Language: Cpp
TabWidth: 4
IndentWidth: 4
BasedOnStyle: Microsoft
NamespaceMacros:
  - LIBC_NAMESPACE_DECL
AccessModifierOffset: -4
ColumnLimit: 120
IndentPPDirectives: BeforeHash
FixNamespaceComments: false
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AllowShortLambdasOnASingleLine: Empty
AllowShortBlocksOnASingleLine : Empty
AllowShortFunctionsOnASingleLine : Empty
BinPackArguments: false
BinPackParameters: true
BreakBeforeConceptDeclarations: Always
BreakTemplateDeclarations: Yes
SeparateDefinitionBlocks: Always
IndentCaseLabels: true
IncludeBlocks: Regroup