[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
	branch = features/dynamic_fonts
[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/CharmedBaryon/CommonLibSSE-NG
	branch = clang-cl
